<header>
    <script src="app.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<img class="img-responsive" src="theme/img/profile.png" alt="">-->
                <div class="intro-text">
                    <span class="name">About</span>
                    <!--<hr class="star-light">-->
                    <span class="skills">About the author, Herb Frizzell</span>
                </div>
            </div>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Herbert Bailey Frizzell, Sr. was born in Dallas, Texas, United States of America, October 10th, 1943; married 53 years to native Dallasite Judy Ann Frizzell (née Birge); with four children, Herb Frizzell, Jr., Tamara Darlene Graham (deceased of cancer), Rebecca Marlene Campos, and Joshua Dan Frizzell, with 8 grandchildren, and 8 great-grandchildren, which they love and dote over.
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Herb has worked for various high-tech and service telecommunications corporations over the past 50 years, such as Southwestern Bell Corporation (SBC), InteCom (Exxon), Northern Telecom (NorTel), Wang Laboratories, Honeywell Computers, MCI/WorldCom, the Biblical Arts Center, Dallas, Select Specialty Hospital, De Soto, Texas, and the Federal Emergency Management Agency (FEMA), Denton, Texas. Herb’s educational credentials include a B.A. in English, the University of Texas at Arlington (UTA); and a Master of Science - Telecommunications degree, Applied Science & Engineering School, SMU, in Dallas;  Herb is now retired from business. 
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;He was reared in and has been a member and elder at Life Temple Church, Dallas, Texas, for over 55 years serving mainly as a Bible Teacher in the Body of Christ. Herb has been a Christian from childhood, and a Holy-Spirit-filled believer - living in the expectation of the coming Kingdom at Christ’s Second Parousia. The prayers of mother, grandmother, and great-grandmother have prevailed! Herb and wife Judy are spending their retirement years in Dumas, Texas, an hour’s drive north of Amarillo, attending  Life  Tabernacle, where  Rev.  Mark  J. Wallis and his wife Debbie are pastors.
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This study in Bible Prophecy concerns the Great Hope for the future, the coming Second Advent and the Parousia-Appearing of our Lord Jesus Christ: We see now through a glass darkly; but, then face-to-face; nevertheless, we have the outlines of God’s Great Plan in the Holy Bible. So, we should steadfastly persevere - by walking daily in the Truth; and, we will be ready, indeed, whenever:
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;…he shall come to be glorified in his saints and to be admired in all them that believe (because our testimony among you was believed) in that day.
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 Thessalonians 1:10
    </p>
</div>