<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<img class="img-responsive" src="theme/img/profile.png" alt="">-->
                <div class="intro-text">
                    <span class="name">Download</span>
                    <!--<hr class="star-light">-->
                    <span class="skills">Click on a document to view or download.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="blocktext">Book 1 PDF</p>
                <img src="media/images/notebook.png">
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
            <div class="col-sm-4">
                <p class="blocktext">Book 2 PDF</p>
                <img src="media/images/notebook.png">
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
            <div class="col-sm-4">
                <p class="blocktext">Book 3 PDF</p>
                <img src="media/images/notebook.png">
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="blocktext">Book 4 PDF</p>
                <img src="media/images/notebook.png">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
            <div class="col-sm-4">
                <p class="blocktext">Book 5 PDF</p>
                <img src="media/images/notebook.png">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
            <div class="col-sm-4">
                <p class="blocktext">Book 6 PDF</p>
                <img src="media/images/notebook.png">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="blocktext">Book 7 PDF</p>
                <img src="media/images/notebook.png">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
            <div class="col-sm-4">
                <p class="blocktext">Book 8 PDF</p>
                <img src="media/images/notebook.png">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
            <div class="col-sm-4">
                <p class="blocktext">Book 9 PDF</p>
                <img src="media/images/notebook.png">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p class="blocktext-special">Book 10 PDF</p>
                <img src="media/images/notebook.png">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="download/test_file.pdf" target="_blank">
                            <p class="blocktext-download">View & Download</p>
                            <img src="media/images/download.png">
                        </a>
                    </div>
                </div>
                <br><hr><br><br><br>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>