<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<img class="img-responsive" src="theme/img/profile.png" alt="">-->
                <div class="intro-text">
                    <span class="name">Bible-Endtimes</span>
                    <!--<hr class="star-light">-->
                    <span class="skills">Welcome to Bible-Endtimes.com! Feel free to look around!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<br><br><br>
<div class="container">
    <!--<h1 ng-bind="mc.hello"></h1>-->
    <audio controls>
        <source src="media/sounds/our_god_reigns.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>